/* -----------------------------------------
   Home page slider
----------------------------------------- */

#home-slider{
    .slick-slide {
        height: 500px;/*define the height of slide*/
        @extend %bgcover;
    }
    .slider-caption{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 500px;
        text-align: center;
        background: rgba(0, 0, 0, .6);
        transform :translate(-50%, -50%);
        padding: 5px 10px;
        p, h3{
            color: #fff;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
    }
}

@media only screen and (max-width: 640px) {
    #home-slider{
        .slider-caption{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 100%;
            background: #000;
            transform :translate(0, 0);
            p{
                font-size: 12px;
                text-shadow: none;
                font-weight: 600;
            }
        }
        .slick-prev, .slick-next{
            display: none !important;
        }
    }
}
